<!--HTML que se encarga de mostrar el grafico de los signos vitales del
paciente-->
{% extends 'admin/base.html' %}
{% block branding %}
<h1>Paciente</h1>
{% endblock %}
{% block content %}
<form method="GET" id="buscador">
    <!--{% csrf_token %}-->
    <label for="q">Your document: </label>
    <input id="q" type="text" name="q"
           value="{{ request.GET.q }}">
    <input type="submit" value="OK">
</form>
<meta id="my-data" data-documento="{{documento}}">
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<canvas id="barChart" width="600" height="200"></canvas>
<script>
    var djangoData = document.querySelector('#my-data');
    documento = djangoData.dataset.documento;
    console.log(documento);
//  obtenemos los datos del paciente segun el nro de documento que se introdujo
    var endpoint = '/app/datos/' + documento;
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            console.log(data);
            labels = data.labels;
            data1 = data.data1;
            data2 = data.data2;
            setChart();
        },
        error: function (error_data) {
            console.error("error")
        }
    });

    function setChart() {
//        funcion que crea la imagen
        var canvas = document.getElementById("barChart");
        var ctx = canvas.getContext('2d');
        Chart.defaults.global.defaultFontColor = 'black';
        Chart.defaults.global.defaultFontSize = 16;
        var data = {
            labels: labels,
            datasets: [{
                label: "Ritmo Cardiaco",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(225,0,0,0.4)",
                borderColor: "red", // The main line color
                borderCapStyle: 'square',
                borderDash: [], // try [5, 15] for instance
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "black",
                pointBackgroundColor: "white",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "yellow",
                pointHoverBorderColor: "brown",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: data1,
                spanGaps: true,
            }, {
                label: "Presión Arterial",
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(167,105,0,0.4)",
                borderColor: "rgb(167, 105, 0)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "white",
                pointBackgroundColor: "black",
                pointBorderWidth: 1,
                pointHoverRadius: 8,
                pointHoverBackgroundColor: "brown",
                pointHoverBorderColor: "yellow",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                data: data2,
                spanGaps: false,
            }

            ]
        };
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Historial',
                        fontSize: 20
                    }
                }]
            }
        };
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    }
</script>
{% endblock %}