{% extends 'admin/change_list.html' %}

{% block object-tools %}

<!--Se sobre-escribe change_list.html para agregar un input de tal forma que
aparezca en la interfaz de paciente-->

<form method="GET" id="buscador">
    <!--{% csrf_token %}-->
    <label for="q">Your document: </label>
    <input id="q" type="text" name="q"
           value="{{ request.GET.q }}">
    <input type="submit" value="OK">
</form>

<script>
    var buscadorForm = document.querySelector('#buscador')
    buscadorForm.querySelector('input[name="q"]').addEventListener('change',
        function (e) {
        buscadorForm.action = 'estado'
    })
</script>

{{block.super}}
{% endblock object-tools %}